/* Add your custom styles here */
/*Middle section*/
section.theme-light.section-selector-1 .col-1 h2 { color: var(--trend-900) }
section.theme-light.section-selector-1 .col-1 h3 { color: var(--trend-500) }
section.theme-light.section-selector-1 .col-4 p { color: var(--white-000) }
.section-selector-1 .col-4 li { color: var(--black) }

section.theme-light.section-selector-1 .col-1 h2 {font-family: 'Montserrat', sans-serif}
section.theme-light.section-selector-1 .col-1 h3 {font-family: 'Montserrat', sans-serif}
section.theme-light.section-selector-1 .col-4 p {font-family: 'Montserrat', sans-serif}
.section-selector-1 .col-4 li {font-family: 'Montserrat', sans-serif}

section.theme-light.section-selector-1 .col-4 h3 { color: var(--white-000) }
section.theme-light.section-selector-1 { background-color: var(--sky-100) }
section.theme-light.section-selector-1 .col-4 { background-color: var(--sky-800) }
section.theme-light.section-selector-1.col-borders .col-4 { border-color: var(--sky-900) }

section.theme-light.section-selector-1 a.btn-primary:focus,
section.theme-light.section-selector-1 a.btn-primary:hover,
section.theme-light.section-selector-1 a.btn-primary:active { color: var(--white-000) }

section.theme-light.section-selector-1 a.btn-primary:link,
section.theme-light.section-selector-1 a.btn-primary:visited { color: var(--white-000) }

section.theme-light.section-selector-1 a.btn-primary:focus,
section.theme-light.section-selector-1 a.btn-primary:hover,
section.theme-light.section-selector-1 a.btn-primary:active { background-color: var(--red-400) }

section.theme-light.section-selector-1 a.btn-primary:focus,
section.theme-light.section-selector-1 a.btn-primary:hover,
section.theme-light.section-selector-1 a.btn-primary:active { border-color: var(--red-500) }

section.theme-light.section-selector-1 a.btn-primary:link,
section.theme-light.section-selector-1 a.btn-primary:visited { background-color: var(--sky-500) }

section.theme-light.section-selector-1 a.btn-primary:link,
section.theme-light.section-selector-1 a.btn-primary:visited { border-color: var(--sky-700) }

.hero-block h1 { color: var(--white-000) }
.hero-block h2 { color: var(--white-000) }
.hero-block { background-color: var(--sky-500)
    }


footer ul.footer-icons li a:any-link i {
    font-size: 50px
}

form {color: blue;}



/* Opening Header and footer design */

.hero-block a.btn-primary:focus,
.hero-block a.btn-primary:hover,
.hero-block a.btn-primary:active { color: var(--amber-200) }

.hero-block a.btn-primary:link,
.hero-block a.btn-primary:visited { background-color: var(--sky-500) }

.hero-block a.btn-primary:link,
.hero-block a.btn-primary:visited { border-color: var(--sky-900) }

.hero-block a.btn-primary:focus,
.hero-block a.btn-primary:hover,
.hero-block a.btn-primary:active { background-color: var(--rose-900) }

.hero-block a.btn-primary:focus,
.hero-block a.btn-primary:hover,
.hero-block a.btn-primary:active { border-color: var(--rose-500) }

.hero-block a.btn-secondary:link,
.hero-block a.btn-secondary:visited { background-color: var(--trans-000) }

.hero-block a.btn-secondary:link,
.hero-block a.btn-secondary:visited { border-color: var(--sky-900) }

.hero-block a.btn-secondary:focus,
.hero-block a.btn-secondary:hover,
.hero-block a.btn-secondary:active { background-color: var(--rose-900) }

.hero-block a.btn-secondary:focus,
.hero-block a.btn-secondary:hover,
.hero-block a.btn-secondary:active { border-color: var(--rose-500) }

.hero-block h1 { color: var(--indigo-300) }
.hero-block h1 {font-family: 'Montserrat', sans-serif}

.hero-block { background-color: var(--sky-900) }
.hero-block h2 { color: var(--fuchsia-100) }
.hero-block h2 {font-weight:300; }
.hero-block h2 {font-family: 'Montserrat', sans-serif}


font-family: 'Montserrat', sans-serif;